/* TODO: Find a way to re-use material UI here */

.ReactTags__tags {
  position: relative;
  z-index: 1000;
}
.ReactTags__tagInput {
  display: block;
  margin-top: 0.5rem;
}
.ReactTags__tagInputField {
  width: 100%;
  appearance: none;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px;
  outline: none;
}
.ReactTags__selected {
}
.ReactTags__selected .ReactTags__tag {
  display: inline-block;
  height: 32px;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #6e4a9e;
  color: #fff;
  margin: 0 0.25rem 0.25rem 0;
}
.ReactTags__selected .ReactTags__remove {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  cursor: pointer;
  margin: 0 -5px 0 5px;
}
.ReactTags__suggestions,
.ReactTags__suggestions ul,
.ReactTags__suggestions li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ReactTags__suggestions {
  background-color: #fff;
  color: #000;
}
.ReactTags__suggestions li {
  padding: 0.5rem;
  list-style: none;
  cursor: pointer;
}
.ReactTags__suggestions li:nth-child(odd) {
  background-color: #f3f3f3;
}
.ReactTags__activeSuggestion {
}
